<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://transibot.com">Transibot</a></strong>
			- Side-project under development (since December 2016) - working version available on Facebook Messenger.
			- Chatbot that tells you when the next bus will arrive - in real-time.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://sentimize.me">Sentimize</a></strong>
			- Side-project under development (since June 2016) - working version available on Google Play.
			- Android app that lets you play your songs based on energy and positivity.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Senti</a></strong>
		        - Side-project under development - starting February 2017.
			- Chatbot that plays songs based on how you want to feel. 
		        - Will interface with Spotify/Apple-Music/Play-Music and with the Sentimize app for local music.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://devpost.com/software/ihear">iHear</a></strong>
			- Hack The North - September 2016.
			- Built sound-localization component of a VR-headset intended to allow deaf people to feel more connected to their surroundings
                        - Mounted microphones that were connected to an Arduino on the headset, which then streamed audio to the back-end via a TCP socket. 
			- The stream was then processed in JS and the results were pushed to the headset (Unity on Google Cardboard).
      
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://devpost.com/software/watnextstop">WATnextstop</a></strong>
			- EngHack - March 2016.
			- Android app that notified users when they were close to their stop, so that they can sleep on the bus without worry.
			- Implemented user-interface, along with the map and geolocation (using Maps Android API).
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://devpost.com/software/hacktogether-jnzo6w">HackTogether</a></strong>
			- PennApps - January 2016.
			- Built Android app where hackers entered their interests and skills and then placed them into teams.
                        - Used Parse back-end and Python program to form the teams.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://devpost.com/software/lastbus-grt">WATLastBus</a></strong>
			- TerribleHack - October 2015.
			- Built Android app that displayed how much it's been since a bus was last at a stop.
		</h5>
	        <h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EddyIonescu/SpaceWave">SpaceWave</a></strong>
			- High School CS Game - May 2015.
			- Collisions physics-based 2D Java game
		</h5>


    </div>
  </div>
</div>
</section>
